* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* navbar items */
.navbar {
    margin-top: 50px;
    margin-right: -10px;
}

.navbar-collapse {
    background-color: blue;
    border-radius: 20px;
    line-height: 180%;
    margin-left: 90px;

}

.navbar .nav-link {
    color: white;
}

/* navbar items end */

/* search bar section css */
.search-bar {
    padding: 100px;
    width: 50%;
    margin-left: 15%;
}

/* search bar section css end */

/* body-images */

.container{
    background-color: black;
}

.container img {
    float: left;
    display: block;
    width: 33.33%;
    transition: 2s;
    cursor: pointer;
}

.image-resize{
    padding-left: 10px;
    height: 380px;
}

.container:hover img {
    transform: scale(1.2);
    box-shadow: 0, 4px, 6px, -2px;
    
}

.text {
    position: absolute;
    top: 5px;
    left: 5px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
}

@media screen {}

/* body-images end */

/* body-image new-design */
.container1{
    padding: 10px;
    float: left;
    margin-top: 20px;
    margin-left: 11.5%;
    height: 340px;
    width: 50%;
    background-color: black;
    overflow: hidden;
}

.container1 img{
    transition: 2s;
    cursor: pointer;
}
.container1:hover img{
    transform: scale(1.3);
}
/* body-image new-design-end */