.navbar{
    background-color: rgb(130, 163, 170);
    padding-bottom: -10%;
    margin-bottom: 10%;
}
.nav-item:hover{
    background-color: antiquewhite;
    margin-bottom: 10%;
    
}
 @media screen and (min-width: 993px){
    .dropdown:hover .dropdown-menu{
        display: block !important;
    }
    .dropdown:focus .dropdown-menu{
        display: block !important;
    }
    .dropdown .dropdown-menu.show{
        display: none !important;
    }
 }
 .nav-item{
    transition: all 1000ms ease-in-out 0s;
    animation-duration: 1000ms;

 }
