.navbar{
     background-color: transparent !important;
}
.nav-item:hover{
    background-color: rgb(0, 0, 0);
    margin-bottom: 3px;
    color: #ffffff;
}
.nav-link:hover{
        color: rgb(255, 254, 254);
}
 @media screen and (min-width: 993px){
    .dropdown:hover .dropdown-menu{
        display: block !important;
    }
    .dropdown:focus .dropdown-menu{
        display: block !important;
    }
    .dropdown .dropdown-menu.show{
        display: none !important;
    }
 }
 .nav-item{
    transition: all 1000ms ease-in-out 0s;
    animation-duration: 1000ms;
    color: #ffffff;
 }
 .nav-link{
    color: rgb(253, 254, 255);
 }
 
  
