.navbar{
    background-color: transparent  !important;
}
.nav-item:hover{
    background-color: rgb(0, 0, 0);
    margin-bottom: 5px;
}
.nav-link:hover{
    color: rgb(248, 244, 244); 
}
.nav-item:hover{
    background-color: rgb(0, 0, 0);
    margin-bottom: 2px;
}
.nav-item:hover{
        color: rgb(255, 255, 255);
}
.nav-item{
    color: rgb(255, 251, 251);
 }

 @media screen and (min-width: 993px){
    .dropdown:hover .dropdown-menu{
        display: block !important;
    }
    .dropdown:focus .dropdown-menu{
        display: block !important;
    }
    .dropdown .dropdown-menu.show{
        display: none !important;
    }
 }
 
 .nav-item{
    transition: all 1000ms ease-in-out 0s;
    animation-duration: 1000ms;
    color: #050404;
 }
 .nav-link{
    color: rgb(0, 0, 0);
    color: #ffffff;
    cursor: pointer;
 }
 .dropdown-menu{
    background-color: transparent;
    border: none;
 }
 .navbar-brand{
    transition: 500ms;
 }
 .dropdown-item{
    color: antiquewhite;
 }
 .dropdown-item:hover{
    background-color: #050404;
    color: #ffbc04;
 }

 
 
 
  
