*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.carousel-item{
    height: 500px;
    width: 100%;
}
.d-block{
    height: 500px;
    width: 100%;
}
@media screen and (min-width: 993px){
    .dropdown:hover .dropdown-menu{
        display: block !important;
    }
    .dropdown:focus .dropdown-menu{
        display: block !important;
    }
    .dropdown .dropdown-menu.show{
        display: none !important;
    }
}
.nav-item-shop :hover{
    color: beige;
}
.nav-link{
    color: aqua;
}
.dropdown-menu{
    background-color: transparent;
}
.dropdown-item-shop{
    color: aliceblue;
}
.dropdown-item-shop:hover{
    color: aquamarine;
}
.cards{
    width: 20%;
    height: 300px;
    padding-top: 5%;
    border-radius: 25%;
    border: 20px;
}
.cardimg{
    height: 100px;
    width: fit-content;
}
 
