*{
    margin: 0;
    padding: 0;
     
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.carousel-item{
    height: 600px;
}
.d-block{
    height: 600px;
}
@media screen and (min-width: 993px){
    .dropdown:hover .dropdown-menu{
        display: block !important;
    }
    .dropdown:focus .dropdown-menu{
        display: block !important;
    }
    .dropdown .dropdown-menu.show{
        display: none !important;
    }
}
.nav-item-shop :hover{
    color: beige;
}
.nav-link{
    color: aqua;
}
.dropdown-menu{
    background-color: transparent;
}
.dropdown-item-shop{
    color: rgb(4, 104, 90);
}
.dropdown-item-shop:hover{
    color: aquamarine;
    background-color: black;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    border-radius: 10%;
    width: 300px;
    margin-top: 10%;
    display: inline-block;
    background-color: rgb(32, 29, 29);
  }
  
  .card img {
    border-radius: 10%;
    width: 100%;
    height: 300px;
    background-image: url(../Images/shred-slam-cap-light-credit-card-helmet.jpg);
  }
  
  .card h2 {
    font-size: 20px;
    margin: 10px 0;
    color: aqua;
  }
  
  .card p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
    color: aquamarine;
  }
  
  .card button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 80px;
  }
  .card button:hover{
        color: #4CAF50;
        background-color: transparent;
        border: #4CAF50 3px solid;
  }
  
 
