*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(3, 155, 201);
    height: 100vh;
}
.img{
    background-image: url(../Images/img1.jpeg);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    transition: 3000ms;  
}