*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-bc{
  height: 10%;
  padding-top: 20px;
}
.container-bc img{
  height: 400px;
  width: 100%;
}
body {
  font-family: sans-serif;
  color: #FF4136;
  text-align: center;
  font-size: 16px;
}

  /* geo location */
h1 {
  font-size: 4em; /*fallback*/
  font-size: 10vw;
}
.geo-location{
  width: 100%;
  height: 900px;
  padding-top: 100px;
}
/* geo location-end */

/* card css */
/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container-card {
	max-width: 200rem;
	margin: 3 auto;
	padding: 0 4rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.3;
	text-align: center;
	padding: 10rem 0;
	color: #6d6d6d;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

/* card css-end */